<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/random/results">
    <label style="display: block;" for="min">Minimum
      <input name="min" id="min" type="text"  placeholder="E.g. 1.5">
    </label>
    <label style="display: block;" for="max">Maximum
      <input type="text" name="max" id="max" placeholder="E.g. 4.5">
    </label>
    <button type="submit">Pick random number</button>
  </form>
</body>
</html>
