<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form  action="/square/results">
    <label style="display: block;" for="number">Enter a number</label>
    <input style="display: block;" type="text" id="number" name="number" placeholder="What number do you want?">
    <button type="submit">Calculate square</button>
  </form>
</body>
</html>
